*{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility;
}

body{
    margin: 0;
    padding: 0;
}

p{
    text-align: center;
}

.masthead{
    text-align: center;
    padding: 5px;
    margin: 0;
    background: bisque;
}

.origin-text{
    margin: 10px auto ;
    padding: 10px;
    width: 50%;
    background: lightgray;
    border-radius: 5px;
}

.origin-text p{
    text-align: left;
}

.test-wrapper{
    padding: 5px;
    margin:10px auto;
    text-align: center;
    border: 5px solid gray;
    border-radius: 4px;
    width: 50%;
}

.test-wrapper textarea{
    width: 98%;
    outline: none;
    border: none;
    resize: none;
}

.meta{
    text-align: center;
}

.meta #clock{
    font-size: 50px;
    margin: auto;
}

.meta button{
    margin: 5px 0;
    font-size: 25px; 
    background-color: orange;   
    cursor: pointer;
    padding: 5px;
    border-radius: 5%;
}